#inputUser, #inputPassword{
	font-size: 18px;
	font-family: "times new roman";
}

#cambiopas{	
	font-family: "times new roman";
	font-size: 11px;
}

#pagini{
	font-family: "times new roman";
	font-size: 12px;
}